@use "base/reset";

@use "abstracts/variables";
@use "abstracts/mixins";

@use "layout/navbar";
@use "components/carousel";
@use "components/cta";
@use "layout/footer";

@use "pages/nosotros";
@use "pages/contacto";

@use "components/cards";
@use "components/buttons";
