@use "../abstracts/variables" as v;

.custom-navbar {
  background-color: v.$primary;

  .navbar-brand,
  .nav-link {
    color: v.$white;
  }

  .nav-link:hover {
    color: #e0f7f7;
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }

  .navbar-toggler-icon {
    filter: invert(1);
  }
}
